In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score , recall_score , confusion_matrix
import numpy as np

In [2]:
data = pd.read_csv("/Users/csb/Desktop/Project/넙치 머신러닝/0_양식어류 질병예측_221207/20-21 전처리.csv")
data = data[['수온', 'Condition factor', 'T P', 'Wgp2', 'Wgi3', 'Whkp2', 'Whki2-1', 'Wlr1', 'Wlr2-1', 'Wsi2','결과']]
data

,수온,Condition factor,T P,Wgp2,Wgi3,Whkp2,Whki2-1,Wlr1,Wlr2-1,Wsi2,결과
0,12.44,1.828,5.7,0,4,0,0,0,0,8,1
1,12.44,2.348,5.4,0,0,8,0,4,0,4,1
2,12.44,1.634,4.7,0,8,0,8,4,0,8,2
3,12.44,1.906,5.7,4,4,0,8,4,0,4,1
4,12.44,2.055,5.9,4,4,4,4,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
885,22.80,2.493,4.9,0,0,0,4,0,0,8,1
886,22.80,2.543,4.9,0,0,0,0,0,0,0,0
887,22.80,2.295,4.2,0,0,0,0,0,0,12,1
888,22.80,2.622,4.5,0,0,0,0,0,0,4,0
889,22.80,2.503,5.3,0,0,4,4,0,0,12,1

In [3]:
feature_columns = list(data.columns.difference(['결과']))
X = data[feature_columns]
y = data['결과']
X

,Condition factor,T P,Wgi3,Wgp2,Whki2-1,Whkp2,Wlr1,Wlr2-1,Wsi2,수온
0,1.828,5.7,4,0,0,0,0,0,8,12.44
1,2.348,5.4,0,0,0,8,4,0,4,12.44
2,1.634,4.7,8,0,8,0,4,0,8,12.44
3,1.906,5.7,4,4,8,0,4,0,4,12.44
4,2.055,5.9,4,4,4,4,0,0,0,12.44
...,...,...,...,...,...,...,...,...,...,...
885,2.493,4.9,0,0,4,0,0,0,8,22.80
886,2.543,4.9,0,0,0,0,0,0,0,22.80
887,2.295,4.2,0,0,0,0,0,0,12,22.80
888,2.622,4.5,0,0,0,0,0,0,4,22.80
889,2.503,5.3,0,0,4,4,0,0,12,22.80

In [4]:
forest = RandomForestClassifier(random_state=1234, n_estimators=100)
forest.fit(X, y)

RandomForestClassifier(random_state=1234)

In [5]:
test = pd.read_csv("/Users/csb/Desktop/Project/넙치 머신러닝/0_양식어류 질병예측_221207/23년.csv")
test = test[['수온', 'Condition factor', 'T P', 'Wgp2', 'Wgi3', 'Whkp2', 'Whki2-1', 'Wlr1', 'Wlr2-1', 'Wsi2','결과']]
test

,수온,Condition factor,T P,Wgp2,Wgi3,Whkp2,Whki2-1,Wlr1,Wlr2-1,Wsi2,결과
0,14.9,1.621,2.2,0,0,0,4,4,0,4,0
1,14.9,1.407,3.2,0,0,0,4,4,0,4,1
2,14.9,1.425,1.6,0,0,12,4,4,0,0,1
3,14.9,1.517,3.1,0,0,0,12,4,0,8,2
4,14.9,1.643,2.0,0,0,0,8,0,0,12,1
...,...,...,...,...,...,...,...,...,...,...,...
145,23.3,1.568,3.7,0,0,12,0,4,8,8,1
146,23.3,1.568,2.4,0,0,12,4,8,12,8,2
147,23.3,1.568,3.5,0,0,12,0,8,4,8,1
148,23.3,1.568,3.2,0,0,12,0,8,12,8,2
149,23.3,1.568,2.9,0,0,12,0,12,4,12,2

In [6]:
feature_columns = list(test.columns.difference(['결과']))
test_X = test[feature_columns]
test_y = test['결과']
test_y

0      0
1      1
2      1
3      2
4      1
      ..
145    1
146    2
147    1
148    2
149    2
Name: 결과, Length: 150, dtype: int64

In [7]:
y_pred = forest.predict(test_X)

In [8]:
n_rows, n_cols = test_X.shape

In [9]:
df2 = pd.DataFrame({'Predicted_CLASS': y_pred})
predictResults = pd.concat([test_y, df2], axis=1)
# 데이터 프레임 출력
print(predictResults)

     결과  Predicted_CLASS
0     0                1
1     1                1
2     1                2
3     2                1
4     1                1
..   ..              ...
145   1                1
146   2                2
147   1                1
148   2                1
149   2                1

[150 rows x 2 columns]

In [10]:
actual = predictResults['결과']
predicted = predictResults['Predicted_CLASS']

confusion_mat = confusion_matrix(actual, predicted)

# 결과 출력
print(confusion_mat)

[[ 0 15  0]
 [ 0 79  8]
 [ 0 20 28]]

In [11]:
# Normal 클래스에 대한 계산
normalTP = confusion_mat[0, 0]
normalFP = np.sum(confusion_mat[1:3, 0])
normalTN = np.sum(confusion_mat[1:3, 1:3])
normalFN = np.sum(confusion_mat[0, 1:3])

# Warning 클래스에 대한 계산
warningTP = confusion_mat[1, 1]
warningFP = np.sum(confusion_mat[0::2, 1])
warningTN = np.sum(confusion_mat[0::2, 0::2])
warningFN = np.sum(confusion_mat[1, 0::2])

# Infection 클래스에 대한 계산
infectionTP = confusion_mat[2, 2]
infectionFP = np.sum(confusion_mat[0:2, 2])
infectionTN = np.sum(confusion_mat[0:2, 0:2])
infectionFN = np.sum(confusion_mat[2, 0:2])

# 전체 계산
TP = normalTP + warningTP + infectionTP
FP = normalFP + warningFP + infectionFP
TN = normalTN + warningTN + infectionTN
FN = normalFN + warningFN + infectionFN

# 결과 출력
print("TP:", TP)
print("FP:", FP)
print("TN:", TN)
print("FN:", FN)

TP: 107
FP: 43
TN: 257
FN: 43

In [12]:
accuracy_micro = (TP + TN) / (TP + FP + TN + FN)
sensitivity_micro = TP / (TP + FN)
specificity_micro = TN / (TN + FP)
ppv_micro = TP / (TP + FP)
npv_micro = TN / (TN + FN)
f1_micro = (2 * TP) / ((2 * TP) + FP + FN)

mcc_micro = ((TP * TN) - (FP * FN)) / (np.sqrt((TP + FP) * (TP + FN) * (TN + FP) * (TN + FN)))

# 결과 출력
print("Accuracy (Micro):", accuracy_micro)
print("Sensitivity (Micro):", sensitivity_micro)
print("Specificity (Micro):", specificity_micro)
print("Positive Predictive Value (Micro):", ppv_micro)
print("Negative Predictive Value (Micro):", npv_micro)
print("F1 Score (Micro):", f1_micro)
print("Matthews Correlation Coefficient (Micro):", mcc_micro)

Accuracy (Micro): 0.8088888888888889
Sensitivity (Micro): 0.7133333333333334
Specificity (Micro): 0.8566666666666667
Positive Predictive Value (Micro): 0.7133333333333334
Negative Predictive Value (Micro): 0.8566666666666667
F1 Score (Micro): 0.7133333333333334
Matthews Correlation Coefficient (Micro): 0.57